[submodule "controlled_experiment/morse_simulation"]
	path = controlled_experiment/morse_simulation
	url = git@github.com:lesunb/morse_simulation.git
[submodule "hmrs_mission_control"]
	path = hmrs_mission_control
	url = git@github.com:lesunb/hmrs_mission_control.git
